# AWS Configurtions

In [1]:
%load_ext sql
import boto3
import json
import time
import getpass
import configparser
import pandas as pd

In [2]:
# Load DWH Params from config file
CONFIG_FILE = 'dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

REGION                 = config.get("AWS","REGION")
KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_IAM_ROLE_NAME      = config.get("IAM","ROLE_NAME")

DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

In [3]:
# Created clients for S3, AM and Redshift
s3 = boto3.resource('s3',
                    region_name=REGION,
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',
                   region_name=REGION,
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET
                  )

redshift = boto3.client('redshift',
                        region_name=REGION,
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                       )

# Look at The two dataset we work with:

In [4]:
# Look at the Log Dataset:
datasets =  s3.Bucket("udacity-dend")

counter = 0
for obj in datasets.objects.filter(Prefix="log_data"):
    if counter < 10:
        print(obj)
        counter += 1
    else:
        counter = 0
        break

print("\n")

for obj in datasets.objects.filter(Prefix="song_data"):
    if counter < 10:
        print(obj)
        counter += 1
    else:
        counter = 0
        break

print("\n")

for obj in datasets.objects.filter(Prefix="log_json"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')


s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAFD128F92F423A.json')


s3.ObjectSummary(bucket_name='udacity-dend', key='log_json_path.json')

In [5]:
# Let's take a look at one of the song_data, to get a sence of the structure
obj = s3.Object('udacity-dend', 'log_data/2018/11/2018-11-01-events.json')
content = obj.get()['Body'].read().decode('utf-8')

lines = content.splitlines()
# Parse each line as a JSON object and print the first 10 records
for i, line in enumerate(lines[:5]):
    record = json.loads(line)
    print(record)

{'artist': None, 'auth': 'Logged In', 'firstName': 'Walter', 'gender': 'M', 'itemInSession': 0, 'lastName': 'Frye', 'length': None, 'level': 'free', 'location': 'San Francisco-Oakland-Hayward, CA', 'method': 'GET', 'page': 'Home', 'registration': 1540919166796.0, 'sessionId': 38, 'song': None, 'status': 200, 'ts': 1541105830796, 'userAgent': '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'userId': '39'}
{'artist': None, 'auth': 'Logged In', 'firstName': 'Kaylee', 'gender': 'F', 'itemInSession': 0, 'lastName': 'Summers', 'length': None, 'level': 'free', 'location': 'Phoenix-Mesa-Scottsdale, AZ', 'method': 'GET', 'page': 'Home', 'registration': 1540344794796.0, 'sessionId': 139, 'song': None, 'status': 200, 'ts': 1541106106796, 'userAgent': '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'userId': '8'}
{'artist': "Des'ree", 'auth': 'Logged In', 'firstName': 'Kaylee', 'gender': 'F', 'itemInSession': 1, 'lastName': 'Summers', 'length': 246.30812, 'level': 'free', 'location': 'Phoenix-Mesa-Scottsdale, AZ', 'method': 'PUT', 'page': 'NextSong', 'registration': 1540344794796.0, 'sessionId': 139, 'song': 'You Gotta Be', 'status': 200, 'ts': 1541106106796, 'userAgent': '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'userId': '8'}
{'artist': None, 'auth': 'Logged In', 'firstName': 'Kaylee', 'gender': 'F', 'itemInSession': 2, 'lastName': 'Summers', 'length': None, 'level': 'free', 'location': 'Phoenix-Mesa-Scottsdale, AZ', 'method': 'GET', 'page': 'Upgrade', 'registration': 1540344794796.0, 'sessionId': 139, 'song': None, 'status': 200, 'ts': 1541106132796, 'userAgent': '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'userId': '8'}
{'artist': 'Mr Oizo', 'auth': 'Logged In', 'firstName': 'Kaylee', 'gender': 'F', 'itemInSession': 3, 'lastName': 'Summers', 'length': 144.03873, 'level': 'free', 'location': 'Phoenix-Mesa-Scottsdale, AZ', 'method': 'PUT', 'page': 'NextSong', 'registration': 1540344794796.0, 'sessionId': 139, 'song': 'Flat 55', 'status': 200, 'ts': 1541106352796, 'userAgent': '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'userId': '8'}

In [6]:
# Then the log_data
obj = s3.Object('udacity-dend', 'song_data/A/A/A/TRAAAAK128F9318786.json')
content = obj.get()['Body'].read().decode('utf-8')

lines = content.splitlines()
# Parse each line as a JSON object and print the first 10 records
for i, line in enumerate(lines):
    record = json.loads(line)
    print(record)

{'artist_id': 'ARJNIUY12298900C91', 'artist_latitude': None, 'artist_location': '', 'artist_longitude': None, 'artist_name': 'Adelitas Way', 'duration': 213.9424, 'num_songs': 1, 'song_id': 'SOBLFFE12AF72AA5BA', 'title': 'Scream', 'year': 2009}

# Creat IAM Role

In [7]:
# Create the Role:
try:
    print("Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)

# Attach Policy
print("Attaching Policy")
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']
 
# Get the IAM role ARN
print("Gettiing the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
print(roleArn)

#write this back to dwh.cfg
role_arn = roleArn
config.set("IAM","role_arn", role_arn)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

Creating a new IAM Role
Attaching Policy
Gettiing the IAM role ARN
arn:aws:iam::205561492308:role/dwhRole

# Creat Redshift Cluster

In [8]:
# Create a RedShift Cluster
try:
    response = redshift.create_cluster(        
        # Hardware parameters:
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

# Wait for cluster getting created
print('Creating Cluster...')
cluster_status = 'creating'
while cluster_status != "available":
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    cluster_status = myClusterProps['ClusterStatus']
    time.sleep(5)
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
print(f'Cluster status: {cluster_status} \nEndpoint: {DWH_ENDPOINT}')

Creating Cluster...
Cluster status: available
Endpoint: dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com

In [9]:
# Run this block several times until the cluster status becomes Available
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-00e7799664289c83f
7,NumberOfNodes,4

In [10]:
# Update config file with DWH_ENDPOINT
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
config.set("CLUSTER","HOST", DWH_ENDPOINT)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

In [11]:
# Establish conection to the cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# ETL

In [12]:
# Create staging, fact and dimension tables
!python3 create_tables.py

# ETL
!python3 etl.py

In [13]:
# ETL Testing
tables = ["staging_events", "staging_songs", "songplay", "\"user\"", "song", "artist", "time"]

for table in tables:
    result = %sql SELECT count(*) FROM {table}
    print(f"Count for {table}: {result[0][0]}")

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for staging_events: 8056
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for staging_songs: 14896
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for songplay: 8056
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for "user": 104
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for song: 14896
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for artist: 10025
 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Count for time: 8023

In [14]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540306145796.0, 154, None, 200, 1541290555796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', 214.20363, 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', 1540895683796.0, 124, "Mean Ol'World", 200, 1541292603796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99),
 (None, 'Logged In', 'Jahiem', 'M', 0, 'Miles', None, 'free', 'San Antonio-New Braunfels, TX', 'GET', 'Home', 1540817347796.0, 42, None, 200, 1541299033796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Gary Hobbs', 'Logged In', 'Jahiem', 'M', 1, 'Miles', 245.52444, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', 1540817347796.0, 42, 'En Mi Mundo', 200, 1541300092796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Lifehouse', 'Logged In', 'Jahiem', 'M', 2, 'Miles', 203.59791, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', 1540817347796.0, 42, "We'll Never Know", 200, 1541300337796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43)]

In [15]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARC43071187B990240', None, None, 'Wisner, LA', 'Wayne Watson', 'SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 245.21098, 0),
 (1, 'AR1WWVL1187B9B0306', None, None, 'Birmingham, England', 'UB40', 'SOZODBG12A6701C5D1', 'Reasons (Radio Remix)', 207.3073, 0),
 (1, 'ARGQJWL1187FB3CE9E', None, None, '', 'La Polla Records', 'SOXLGTI12A8C13C08B', 'Cara Al Culo', 82.99057, 1985),
 (1, 'ARR9XGB1187B9912E6', None, None, 'Philadelphia, PA', 'Boyz II Men', 'SOFRAZJ12A8C143CDB', 'On Bended Knee', 329.27302, 1994),
 (1, 'ARAEX7Y1187FB42D36', None, None, 'Severn, MD', 'Toni Braxton Featuring Shaggy', 'SOEXSIN12A8C133B0A', 'Christmas In Jamaica', 219.01016, 2001)]

In [16]:
%sql SELECT * FROM songplay LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(61, 95, None, None, datetime.datetime(2018, 11, 3, 16, 36, 15), 152, 11, 214.93506, 'Logged In', 'paid', 'PUT', 'Winston-Salem, NC', 'NextSong', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 1540809153796.0, 200),
 (77, 15, None, None, datetime.datetime(2018, 11, 3, 17, 19, 54), 199, 5, 223.68608, 'Logged In', 'paid', 'PUT', 'Chicago-Naperville-Elgin, IL-IN-WI', 'NextSong', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 1541048010796.0, 200),
 (157, 95, None, None, datetime.datetime(2018, 11, 3, 19, 17, 17), 152, 56, 272.16934, 'Logged In', 'paid', 'PUT', 'Winston-Salem, NC', 'NextSong', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 1540809153796.0, 200),
 (173, 20, None, None, datetime.datetime(2018, 11, 8, 1, 39, 40), 19, 8, 186.69669, 'Logged In', 'paid', 'PUT', 'New York-Newark-Jersey City, NY-NJ-PA', 'NextSong', '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1540283578796.0, 200),
 (181, 43, None, None, datetime.datetime(2018, 11, 8, 3, 58, 26), 265, 3, 185.28608, 'Logged In', 'free', 'PUT', 'San Antonio-New Braunfels, TX', 'NextSong', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 1540817347796.0, 200)]

In [17]:
%sql SELECT * FROM "user" LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(95, 'Sara', 'Johnson', 'F', 'paid'),
 (73, 'Jacob', 'Klein', 'M', 'paid'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (57, 'Katherine', 'Gay', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free')]

In [18]:
%sql SELECT * FROM song LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOHRKRG12A6310F103', 'AR6892W1187B9AC71B', 'Where Is My Mind (XFM Live Version)', 2003, 223.92118),
 ('SOKEZZA12A8C1348E3', 'AR3PHA71187FB52512', "One Flew Over The Cuckoo's Nest (Opening Theme)", 1975, 88.58077),
 ('SOPATHD12A8AE48156', 'ARW3GPF1187B9A2E60', 'Are You Feeling Better_ Angela?', 0, 170.34404),
 ('SONQDDO12A6D4FA6D1', 'ARPH2Q31187FB43B01', 'Intro Peatonal', 2006, 111.41179),
 ('SODXDOW12AC95F0351', 'ARS142K1187FB51808', 'Low Road', 2010, 175.01995)]

In [19]:
%sql SELECT * FROM artist LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR4LELF1187B9A3F1A', 'The Rain Parade', 1, 34.05349, -118.24532, 'Los Angeles, CA'),
 ('AR15DJQ1187FB5910C', 'Screaming Trees', 1, 47.60356, -122.32944, 'Seattle, WA'),
 ('ARA3VJJ1187FB3F5A6', 'Shelby Lynne', 1, None, None, 'Quantico, VA'),
 ('AR6XPWV1187B9ADAEB', 'Foo Fighters', 1, None, None, 'Seattle, WA'),
 ('ARL1MEI1187B9AD98B', 'Streetlight Manifesto', 1, None, None, 'New Brunswick, New Jersey')]

In [20]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 12, 3, 3, 24), 3, 12, 46, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 2, 11, 29, 36), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 20, 19, 24, 20), 19, 20, 47, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 15, 18, 9, 14), 18, 15, 46, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 6, 16, 41, 47), 16, 6, 45, 11, 2018, '2')]

# Sample analytical queries

### 1. What are the most played songs?

In [21]:
%%sql
SELECT s.title AS song, count(song) AS frequency 
FROM songplay sp 
JOIN song s ON (s.song_id = sp.song_id) 
GROUP BY song
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6)]

### 2. When is the highest usage time of day by hour for songs?

In [22]:
%%sql
SELECT hour, count(hour) AS frequency
FROM time
GROUP BY hour
ORDER BY frequency desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cs7ai8x9sgaq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16, 623), (18, 575), (15, 570), (17, 567), (14, 502)]

# Delete resources

In [23]:
# Delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
# Wait for cluster deletion
print('Deleting Cluster...')
cluster_status = 'deleting'
while cluster_status == "deleting":
    try:
        myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        cluster_status = myClusterProps['ClusterStatus']
        time.sleep(5)
    except Exception as e:
        break
print(f'{DWH_CLUSTER_IDENTIFIER} has been deleted!')

Deleting Cluster...
dwhCluster has been deleted!

In [24]:
# Delete IAM Role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '1a7aece2-e36b-4eec-a412-572fc50e41d2',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 15 Nov 2024 02:21:46 GMT',
   'x-amzn-requestid': '1a7aece2-e36b-4eec-a412-572fc50e41d2',
   'content-type': 'text/xml',
   'content-length': '200'},
  'RetryAttempts': 0}}